<div class="row-fluid">
  <div class="span12">
    <div class="record-pane">
      <h2>nyu ead export plugin</h2>
      <p>version: 2.8.0<br>
      url: https://github.com/NYULibraries/nyu_ead_export_plugin/releases/tag/v2.7.1<br>
      maintained by: Don Mennerich don.mennerich@nyu.edu
      </p>
    </div>
  </div>
</div>
